<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <title>房小麦</title>
</head>
<body>
    <div class="fxm">

        <div class="fxm_header"></div>
        <div class="fxm_body">
            <div class="fxm_content_h">
                <div class="fxm_wrap"></div>
                

                <div class="fxm_lo">
                    <div class="fxm_img">
                        <img th:src="@{/images/logo.png}" alt="" srcset="">
                    </div>
                    <p>房小麦</p>
                </div>
            </div>
            <div class="fxm_content_b">
                <a href="http://m.aihaoshi.cn/image/房小麦.apk"  class="btn">安卓下载</a>
            </div>
        </div>
        
    
    </div>
</body>
</html>