<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common/common-head.html::common-head}"></div>
    <script type="text/javascript" th:src="@{/js/viewer/viewer.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/js/viewer/viewer.min.css}" />
    <style type="text/css">
        .close{
            position: absolute;
            top:-9px;
            right:-10px;
            width:20px;
            height:20px;
            line-height: 18px;
            text-align: center;
            transform: rotate(40deg);
            border-radius: 50%;
            background:red;
            font-size: 18px;
            cursor: pointer;
        }
        .item{
            width:100px;
            height:100px;
            position: relative;
            display: inline-block;
            margin:0 20px 20px 0;
        }
    </style>
</head>
<body class="body-common">
        <div class="layui-tab">
            <input type="hidden" id="newHouseId" name="newHouseId" th:value="${houseId }" />
            <ul class="layui-tab-title">
                <li class="layui-this">效果图</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <button type="button" class="layui-btn" id="xg">图片上传</button>
                    <form class="layui-form layui-form-pane" action="">
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list " id="imageWatchXg">
                                <div class="item" th:each="s:${list}" th:if="${s.imgType==1}">
                                    <input type="hidden" name="ids" th:value="${s.id }" />
                                    <img  style='width: 100px;height: 100px' th:data="${'http://hzaihaoshi.oss-cn-shenzhen.aliyuncs.com/data/'+s.imgUrl+'/app_picture2'}"  th:src="${'http://hzaihaoshi.oss-cn-shenzhen.aliyuncs.com/data/'+s.imgUrl+'/app_picture1'}" onclick="previewImg('imageWatchXg')">
                                    <div class='close' th:onclick="'javascript:delXg('+${s.id }+',this)'" >+</div>
                                    <input type="hidden" name="picturePath" th:value="${s.imgUrl }" />
                                </div>
                            </div>
                        </blockquote>
                        <div class="layui-form-item" style="text-align: center">
                            <span th:if="${session.userAuth==null || #maps.containsKey(session.userAuth,'secondHandHouse/save')}">
                                <button class="layui-btn" lay-submit="" lay-filter="save-data-xg">提交</button>
                            </span>
                            <input type="button" class="layui-btn"  onclick="myback()" value="返回" />
                        </div>
                    </form>
                </div>




        </div>
</body>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    var viewer;
    layui.use(['form','element','upload','jquery'], function(){
        var element = layui.element,
            upload=layui.upload
            ,form=layui.form,
            $=layui.jquery;
        upload.render({
            elem: '#xg'
            ,url: rootPath+'secondHandHouseImg/upload'
            ,multiple: true
            ,before: function(obj){
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            }
            ,done: function(res){
                //上传完毕
                layer.close(layer.msg());
                layer.msg('上传成功');
                //$("#typeImg").val(res.data);
                for(var k in res.data){
                    $("#imageWatchXg").append("<div class='item'> <img  style='width: 100px;height: 100px' data='"+imgPath+res.data[k]+imgsl2+"' src='"+imgPath+res.data[k]+imgsl1+"' onclick=\"previewImg('imageWatchXg')\"><div class='close' onclick='delXg(0,this)'>+</div><input type='hidden' name='picturePath' value='"+res.data[k]+"' /></div>")
                }
            }
        });

        //监听提交
        form.on('submit(save-data-xg)', function (data) {
            var imgUrls=[];
            $("input[name='picturePath']").each(function () {
                   imgUrls.push(this.value)
            })
            console.log(imgUrls)
            data.field['secondHouse']=$("#newHouseId").val();
            data.field['imgUrls']=imgUrls;
            data.field['imgType']=1;
            $.post(rootPath+"secondHandHouseImg/save",data.field,function (data) {
                if(data.code==0){
                    myAlert("保存成功");
                    window.location.reload();
                }else{
                    myAlert("保存失败->"+data.message)
                }
            });
            return false;
        });

    });
    function delXg(a,b) {
        var id=a;
        if(id){
            $.post(rootPath + "secondHandHouseImg/deleteImg", {"id":id}, function (data) {
                if (data.code == 0) {
                    b.parentElement.remove()
                }
            });
        }else{
            b.parentElement.remove()
        }
    }
    function previewImg(obj) {
        var galley = document.getElementById(obj);
        if(viewer){
            viewer.destroy();
        }
        viewer = new Viewer(galley, {
            toolbar: {
                oneToOne: true,

                prev: function() {
                    viewer.prev(true);
                },
                play: true,
                next: function() {
                    viewer.next(true);
                },
                download: function() {
                    var a = document.createElement('a');
                    var src=viewer.image.src.replace(imgsl1,imgsl2);
                    a.href = src;
                    a.download = viewer.image.alt;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
            },
            url:'data'
        });
        viewer.update();
    }
</script>
</html>